.container{
    
    width: 35px;
    height: 20px;
    background-color: rgb(0, 24, 88);
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    z-index: 55px;
    
}
.around{
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    left: 2px;
    top: 3px;
    transition: ease 0.5s;
}