@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  
}

.theme{
  transition: ease-in 0.3s;
}
.theme.light{
  background-color: #d1d1d1;  
}
.theme.dark{
  background-color: rgb(27, 27, 27);
}
.theme.App{ 
    
  background-color: rgb(255, 0, 0);
  max-width: 30%;
  border-radius: 40px;
  box-shadow: 10px 7px 15px 10px #00000041;
  margin: 0 auto;
  margin-top: 100px;
}
.theme.dark.App{
  background-color: #2e2e2e;
}
.theme.light.App{
  background-color: #bdbdbd;
  box-shadow: 10px 7px 15px 10px #8f8f8f88;
  
}
.theme.body_xo{
  padding-bottom: 10%;
}