.container{
    
    padding-right: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    background-color: rgb(105, 105, 105);
    box-shadow: 0px 5px 15px 15px #00000041;
    
    height: 50px;
}
.container.dark{
    color: red;
}
